/* Root ~ Any class in this .module.css file is scoped to the component (CSS Modules) */
.Toast {
  max-width: 10vw;
  max-height: 5vh;
  border: 1 px solid var(--color-info-border);
}

/* Variant Specific Classes */
.ToastInfo {
  background-color: var(--color-info);
}

.ToastWarning {
  background-color: var(--color-warning);
}

.ToastSuccess {
  background-color: var(--color-success);
}

.ToastError {
  background-color: var(--color-error);
}

.ToastCloseButton {
  background: transparent;
  border: none;
  font-size: 1.2rem;
  color: inherit;
  margin-left: auto;
  cursor: pointer;
}
