/* Root ~ Any class in this .module.css file is scoped to the component (CSS Modules) */
.Sidebar {
}

.SidebarHeader {
}

.SidebarFooter {
}

.SidebarOpen {
  min-width: 33dvw;
  height: 100dvh;
}

.SidebarClosed {
  width: 0;
  display: none;
}
